<div class="social">
  <a target="_blank" href="https://www.linkedin.com/in/dmytro-protsenko-3430505a/" title="Go to my LinkedIn">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  <a target="_blank" href="https://github.com/protsenko" title="Go to my GitHub">
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a target="_blank" href="tg://resolve?domain=dprotsenko" title="Text me in Telegram">
    <i class="fab fa-telegram fa-2x"></i>
  </a>
  <a target="_blank" href="https://www.facebook.com/dmitry.protsenko.16" title="Go to my Facebook">
    <i class="fab fa-facebook fa-2x"></i>
  </a>
  <a target="_blank" href="https://twitter.com/protsenkodmytro" title="Go to my Twitter">
    <i class="fab fa-twitter-square fa-2x"></i>
  </a>
</div>
