.post {
  margin: 0px 0px 35px 0px;
}

.post_header {
  margin: 0px 0px 10px 0px;
}

.post_header a {
  text-decoration: none;
  color: inherit;
}

.post_info {
  color: grey;
  font-weight: lighter;
  font-size: 0.9em;
  margin: 0px 0px 10px 0px;
}

.post_content {
  text-align: justify;
  line-height: 1.5;
  margin: 0px 0px 10px 0px;
}

.post_link {
  color: grey;
  margin: 0px 0px 10px 0px;
}

.post_link a {
  text-decoration: none;
  color: inherit;
}
